:root {
  --color-primary: #617cd4;
  --color-primary-dark: #5371d2;
  --color-danger: #eb9c4d;
  --color-white: #fff;
  --color-black: #000;
  --color-background: #f6f6fa;
  --color-text: #85868a;
  --color-border: #ededed;
  --color-input-background: #fcfcfc;
  --shadow: rgba(80, 80, 80, 0.1) 0px 1px 4px 0px;
}
