.text-input {
  display: flex;
  flex-direction: column;

  &__label {
    text-transform: uppercase;
    color: var(--color-text);
    font-size: 1.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
  }

  &__input {
    border: 1px solid var(--color-border);
    outline: none;
    background-color: var(--color-input-background);
    padding: 0.5rem 1rem;

    &:active,
    &:focus {
      border-color: var(--color-primary);
    }

    &--error {
      border-color: var(--color-danger);
    }
  }

  &__error {
    color: var(--color-danger);
    align-self: end;
    font-size: 1.2rem;
  }
}
