.btn {
  cursor: pointer;
  background-color: var(--color-primary);
  color: var(--color-white);
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  padding: 1rem 2rem;

  &:hover {
    background-color: var(--color-primary-dark);
  }
}
